$background: #e5e5e5;
$light-background: #ecf0f1;
$dark: #9099a2;
$darker: #34495e;
$font: lighten(#34495e, 5%);
$accent: #27ae60;
$white: #fff;

///

@font-face {
  font-family: "Square face";
  src: url("./fonts/Square face.ttf") format("truetype");
}

.fade {
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
  .color {
    cursor: not-allowed;
  }
  .selectable-face {
    cursor: not-allowed;
  }
}

.show {
  transition: opacity 1s ease-in-out;
  .color {
    cursor: pointer;
  }
  .selectable-face {
    cursor: pointer;
  }
}

.listed-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pulse-1 {
  animation: pulsing-text-1 1.5s;
}

.pulse-2 {
  animation: pulsing-text-2 0.5s;
}

@keyframes pulsing-text-1 {
  0% {
    font-size: 56px;
  }
  100% {
    font-size: 50px;
  }
}

@keyframes pulsing-text-2 {
  0% {
    font-size: 58px;
  }
  100% {
    font-size: 50px;
  }
}

.square-face-list-icon {
  height: 45px;
  width: 45px;
  position: relative;
  font-weight: normal;
  font-style: normal;
  font-family: "Square face";
  text-align: center;
  font-size: 50px;
  margin-bottom: -16px;
  margin-right: 6px;
  line-height: 0.85;
}

.square-face-icon {
  postion: absolute;
  font-weight: normal;
  font-style: normal;
  font-family: "Square face";
  text-align: center;
  font-size: 50px;
  margin-bottom: -16px;
  margin-right: 6px;
  line-height: 0.85;
}

.square-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Square face";
  color: #bbb;
  text-align: center;
  margin: 20px 20px;
  font-size: calc(15vw);
  max-width: 800px;
  word-wrap: break-word;
  @media (min-width: 800px) {
    font-size: 120px;
    margin: 20px auto;
  }
  .selectable-face {
    transition: color 0.5s ease-in-out;
    padding: calc(1.5vw);
  }
  line-height: 0.85;
  word-spacing: 0px;
}

///

body {
  background-color: $light-background;
  color: $font;
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
}

.grey {
  color: $dark;
  font-size: 12px;
}

.name-container {
  position: relative;
  width: 100%;
  height: 32px;
  .name-headline {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    &.fade-out {
      opacity: 0;
      transition: opacity 1s;
    }
    &.show {
      opacity: 1;
      transition: opacity 1s;
    }
  }
}

button {
  transition: opacity 1s;
}

button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
  transition: opacity 1s;
}

.name-selection {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  padding: 8px;
  margin-bottom: 12px;
  background-color: $darker;
  color: $light-background;
  border-radius: 5px;
  transition: background-color 5s;
  h1 {
    padding: 0;
    margin: 0;
  }
  i {
    padding: 4px;
  }
}

.active-users {
  overflow-x: hidden;
}
.active-users-heading {
  margin: 8px 0;
}
.active-users-list {
  li {
    list-style-type: none;
    margin-bottom: 16px;
    font-weight: bold;
    font-style: italic;
  }
}

.start-it {
  border: none;
  color: $white;
  background-color: $darker;
  border: 0;
  transition: color 0.5s, background-color 0.5s, opacity 1s;
  &:hover {
    color: $darker;
    background-color: $white !important;
    border: none;
    transition: color 0.5s, background-color 0.5s;
  }
}

.centered {
  text-align: center;
}

.color-selection {
  font-size: 0;
  max-width: 650px;
  margin: 12px 25px;
  @media (min-width: 700px) {
    margin: 12px auto;
  }
  display: flex;
  .color {
    margin: -0.2px;
    border: 5px solid rgba(0, 0, 0, 0);
    width: 160px;
    height: calc(20vw);
    @media (min-width: 700px) {
      height: 140px;
    }
    display: inline-block;
    opacity: 0.7;
    transition: opacity 1s ease-in-out, border 1s ease-in-out;
    &.active {
      border: 5px solid $font;
      opacity: 1;
      transition: opacity 1s ease-in-out, border 1s ease-in-out;
    }
  }
}

.input-frame {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  .input-element {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    cursor: text;
    label {
      cursor: text;
      //width: 50px;
      background-color: $white;
      padding: 0 8px;
      margin: 0;
    }
    input {
      background-color: lime;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  .send-button {
    cursor: pointer;
    position: relative;
    padding: 8px;
    width: 35px;
    height: 32px;
    border-radius: 50%;
    background-color: $accent;
    color: $light-background;
    margin-left: 8px;
    border: 1px solid $accent;
    transition: background-color 0.5s, color 0.5s;
    &:hover {
      background-color: $light-background;
      color: $accent;
      transition: background-color 0.5s, color 0.5s;
    }
    i {
      position: absolute;
      top: 14px;
      left: 12px;
    }
  }
}
.main-input {
  outline: none;
  border: none !important;
  background-color: $white !important;
  width: auto;
}

.chat-history {
  li {
    list-style-type: none;
    margin: 0;
  }
  .info-entry,
  .chat-entry {
    animation: flashing-text 60s;
    opacity: 0.7;
    margin-bottom: 12px;
    .chat-content {
      display: flex;
      line-height: 1.2;
      align-items: center;
      justify-content: start;
      .name {
        font-weight: bold;
        font-style: italic;
      }
    }
    .chat-time {
      margin-top: -4px;
      margin-bottom: -4px;
      text-align: right;
    }
  }
}

/// unfortunately this does not work as intended, the new items are added at the
/// bottom
@keyframes flashing-text {
  0% {
    opacity: 0;
  }
  0.75% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.outer-frame {
  max-width: 1000px;
  padding: 8px;
  margin: auto;
}
